@media (max-width: 768px) {
    #slider .text-heading span {
        display: none;

    }

    #slider {
        position: relative;
        background-attachment: fixed;
        background-image: url('./images/download.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: auto;
        filter: grayscale(30%);
    }

    .content-section .images-list .item {
        padding: 8px 0;
    }

    .section-info .profile-info {
        padding: 0;
    }

    .text-about {
        margin: 120px 0;
    }

    .slider-report {
        position: relative;
        background-image: url('./images/pexels-ahmetyuksek-30590319.jpg');
        background-size: cover;
        background-position: top center;
        height: 80vh;
        width: 100%;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background-attachment: fixed;

    }

    .slider-report .report-content {
        padding: 32px 0;
    }

    #slider .text-content .text-heading {
        min-width: 0;
    }

    #content .section-info {
        display: block;
    }



    #content .about-text {
        display: none;
    }



    #content .report-content,
    .content-section .images-list,
    .content-section .section-contact {
        display: block;
    }

    .contact-form,
    .contact-img {
        padding: 0;
    }

    .form-btn {
        margin-bottom: 32px;
    }

}